<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
        <head>
                <title></title>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        </head>
        <body>
                <form action="/anysdk/gameicon/edit/" enctype="multipart/form-data" method="post">
                <div><span>游戏id：</span><input type="text" name="idGame" /></div>
                <div><span>游戏icon：</span><input type="file" name="gameicon" /></div>
                <p>--------------</p>
                <div><button type="submit" name="sm-btn" value="imabuttowithtypesubmit">上传</button></div>
                </form>
        </body>
</html>
